--extra-index-url https://download.pytorch.org/whl/cu118
transformers[torch,sentencepiece]
torch
bitsandbytes
jsons
regex
packaging
auto-gptq[triton]

# needed for bitsandbytes
# https://github.com/TimDettmers/bitsandbytes/issues/426
scipy
